/dist/
/build/
/nbproject/
/nbproject/private/
/resources/desktop-deployment/
/*.so
/*.dll
*.gltf
*.glb
*.xcf
*.blend1
/ESBoost/nbproject/private/
/ESBoost/build/
/ShaderLab/nbproject/private/
/ShaderRuntime/nbproject/private/
/ESBoost/dist/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
